.button {
  display: grid;
  place-content: center;
  height: 3rem;
  aspect-ratio: 1;
  border: 0;
  border-radius: 0.75rem;
  background-color: var(--switch-theme-bg);

  transition: background-color 200ms ease-in-out;
}

.button:hover {
  background-color: var(--switch-theme-hover);
}

.button:focus {
  border: 1px solid var(--focus-border);
  outline: 1px solid var(--focus-outline);
}
