---
import Extensions from "@components/extensions";
import SwitchTheme from "@components/switch-theme";
import Root from "@layouts/root.astro";
---

<Root title="Browser extensions manager UI">
  <header>
    <div>
      <img src="/images/logo.svg" alt="extensions" />
      <span>Extensions</span>
    </div>
    <SwitchTheme client:load />
  </header>
  <main>
    <Extensions client:load />
  </main>
</Root>
